.animation {

    &__fadeIn--fast { // Used for Header and Main section
        animation: fadeIn .3s;
    }
    &__fadeIn--medium {
        animation: fadeIn 1s;
    }
    &__fadeIn--slow {
        animation: fadeIn 3s;
    }
    &__fadeOut--fast { 
        animation: fadeOut .3s ease-out ;
    }

    &__moveDown--fast {
        animation: moveDown 2s;
    }

    &__slideOpen--fast {
        animation: slideOpen .2s;
    }

    &__slideClose--fast {
        animation: slideClose .2s;
    }

    &__rotate {
        animation: rotate 1s ease-in 0s infinite;
    }

    &__popup {
        animation: popup .3s cubic-bezier(0.76, 0.76, 0.64, 1.36);
        }
    &__popout {
        animation: popout .3s ease-out;
    }
}

.temp {

	&__open-door-hover {
		transform: perspective(324rem) rotateY(-93deg) !important;
		box-shadow: 0rem 0rem 5rem 0rem rgba($color-black, 25%) !important;
	}

	&__open-door-after {
		transform: rotateY(0deg) !important;

	}
}