$color-begie-1: #d9dcd6;
$color-blue-1: #81c3d7;
$color-blue-2: #3a7ca5;
$color-blue-3: #2F6690;
$color-blue-4: #16425b;
$color-blue-4-1: #193646;
$color-blue-5: #0d2635;

$color-orange-3: #cd5600;

$color-white: white;
$color-black: rgb(0, 0, 0);

$color-silver-3: rgb(143, 143, 143);
$color-silver-4: rgb(97, 97, 97);
$color-silver-5: rgb(56, 56, 56);

