.btn {

    &__login {
        transform: skewX(-25deg);
        padding: 1.2rem 3rem;
        background: $color-blue-1;
        border-radius: 3px;
        outline: none;
        transition: all .2s;

        &:hover {
            background-color: $color-blue-2;

        }

        &--about {

        }

        &--reg { 

        }

        &-text {
            font-size: 1.5rem;
            letter-spacing: .1rem;
            transform: skewX(25deg);
            display: inline-block;
            color: $color-blue-4;
        }
    }

    &__signout {
        width: 7rem;
        display: none;
    }
}