.signup-validation {
    font-size: 2.5rem;
    opacity: .7;

    &__valid{
        color: darkgreen;
    }

    &__invalid{
        color: darkred;

    }
}

.menu-icon {
	font-size: 3rem;
    color: rgb(205 86 0);

}

.icon-first-freezer {
	color: $color-white;
    font-size: inherit;
    position: absolute;
    z-index: 10;
    transform: translateY(-6rem);

}

.close {

	&--creator-freezer {
		font-size: 4rem;
		cursor: pointer;
	}
}