.about{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    display: none;

        &__container {
            width: 60rem;
            height: 40rem;
            border: 1px solid rgb(146, 132, 132);
        }

}

.login {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    width: 40rem;
    position: relative;

    &__options {
        font-size: 2.3rem;
        width: 100%;
        text-align: center;
        transform: translateY(-.5rem);

        & input {
            display: none;
        } 

        & > input + label{
            color: darken($color: $color-begie-1, $amount: 20);
            font-weight: 600;
            transition: color 0.2s;
            padding: 0 3rem;
            cursor: pointer;

            &:hover {
                color: darken($color: $color-begie-1, $amount: 33);
            }
        } 

        & input:checked + label {
            color: $color-blue-2;

            &::after {
                content: attr(data-after);
                background:$color-blue-2;
                color: $color-blue-2;
                position: absolute;
                transform: translate(-100%, 3.4rem);
                clip-path: polygon(50% 0, 100% 60%, 0% 60%);
                z-index: 0;
                white-space: nowrap;
                overflow: hidden;
                animation: fadeIn .2s ease;
            }
        }
    }

    &__body {
        position: relative;

        & input, button {
            width: 100%;
            padding: 1.3rem 2.3rem;
            text-align: center;
            border-radius: 3px;
            font-size: 1.5rem;
            font-weight: 600;
            outline: none;

            &:not(:first-child) {
                margin-top: 1rem;
            }
        }


        & input {
            background: $color-begie-1;
            color: $color-blue-2;
            border: none;
            position: relative;
            z-index: 1;
        
            &::placeholder {
                color: $color-blue-2;
                opacity: .7;
            }

            &:focus {
                background: lighten($color: $color-begie-1, $amount: 5)
            }
        }

        & button {
            background: $color-blue-2;
            color: lighten($color-blue-1, 30); 
            transition: all .1s;
            border: none;

            &:hover {
                background: darken($color-blue-2, 2);
                box-shadow: 0 .5rem 1rem rgba($color: #000000, $alpha: .3);
                transform: translateY(-.2rem);
            }

            &:active {
                transform: translateY(0rem);
            }
        }

        &-validation {
            position: absolute;
            transform: translate(calc(100% + 2rem), -3.6rem);
            z-index: 100;
            right: 0;

        }
    }
}

.login-buttons {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    justify-self: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 13.2rem;
    align-items: end;
    grid-gap: 0 15rem;

}