.menu {
    grid-column: 1 / 2;
    grid-row: 1;
    background: $color-blue-5;
    clip-path: polygon(0 0, 100% 5rem, 100% calc(100% - 5rem), 0 100%);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.info {
    grid-column: 2 / 3;
    grid-row: 1;
}

.list {
    grid-column: 3 / 4;
    grid-row: 1;
}