.freezer {
    grid-column: 2/3;
    grid-row: 1;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
	position: relative;
    justify-content: center;
    align-items: center;

	&__creator {

		&-ctrl {
			width: 50rem;
			height: 100%;
			position: relative;
			border: 1px rgb(129 195 215);
			border-style: dashed;
			/* border-left: .5px solid rgb(255 255 255); */
			/* border-right: .5px solid rgb(255 255 255); */
			border-radius: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			font-size: 10rem;
			opacity: 0.1;
			transition: all 0.2s ease;
			cursor: pointer;
	
			&:hover {
				font-size: 13rem;
				opacity: 1;
				background: rgba($color-blue-1, .1);
				border: none;
	
				&::before {
					content: "";
					position: absolute;
					width: 12rem;
					height: 12rem;
					background: $color-orange-3;
					animation: lineAround .7s ease;
					border-radius: 10px;
					z-index: 0;
					transform: translateY(-6rem);
	
				}
	
				&::after {
					content: "";
					position: absolute;
					width: 11rem;
					height: 11rem;
					background: #193646;
					border-radius: 10px;
					z-index: 5;
					transform: translateY(-6rem);
	
				}
			}
		}

		&-open {
			width: 100%;
			max-width: 90rem;
			height: 100%;
			background: $color-blue-4-1;
			position: absolute;
			z-index: 70;
			padding: 3rem;
			display: grid;
			grid-template-rows: 10rem auto;
			grid-template-columns: 50% 50%;

			&-head {
				grid-column: 1/3;
				grid-row: 1/2;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				align-content: flex-start;
				
			}

			&-img {
				grid-row: 2/3;
				grid-column: 1/2;
				/* border-right: 1px solid rgb(255 255 255); */
				padding: 3rem 3rem 3rem 0;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				position: relative;

				&:hover > .freezer__closed {
					transform: perspective(324rem) rotateY(94deg);
					transform-origin: right;
					box-shadow: -5rem 0rem 2rem 0rem rgba(0, 0, 0, 25%);

						&::after {
							transform: rotateY(0deg);

						}
				}

				& > .freezer__closed {
					width: 100%;
					height: calc(100% - 2rem);
					border-radius: 10px;
					position: relative;
					z-index: 2;
					transform: rotateY(0);
					transform-origin: right;
					transition: all 1s;
					background: rgb(192 192 192);
					overflow: hidden;

						&::after {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background: rgb(192 192 192);
							border-radius: 10px;
							/* border-right: 20px solid rgb(0 0 0); */
							transform: rotateY(180deg);
							transform-origin: right;
							backface-visibility: hidden;
							transition: all 1s linear;
							z-index: inherit;
						}
			
						.freezer__closed-handle {
							position: absolute;
							top: 14rem;
							left: 3rem;
							width: 0;
							height: 7rem;
							border: 3px solid rgb(0 0 0);
							border-radius: 5px;
							box-shadow: 10px 0 0 rgba(0, 0, 0, .4);
							z-index: inherit;
							backface-visibility: hidden;
						}
			
				}
			
				& > .freezer__opened {
					width: calc(100% - 3rem);
					height: calc(100% - 8rem);
					background: rgb(255 255 255);
					border: 15px solid rgb(192 192 192);
					border-radius: 10px;
					position: absolute;
					z-index: 1;
					box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 30%);
			
				}

				& > .freezer-legs { 
					position: absolute;
					width: 80%;
					height: 2.5rem;
					bottom: 3rem;
					/* left: 50%; */
					/* transform: translateX(-50%); */
					border: 3px solid rgb(192 192 192);
					border-bottom-right-radius: 3px;
					border-bottom-left-radius: 3px;
					background: rgb(192 192 192);
		
				}

			}

			&-setup {
				grid-row: 2 / 3;
				grid-column: 2 / 3;

			}
		}
	}
}

.list {
    grid-column: 3 / 4;
    grid-row: 1;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.menu-hover-clone {
	background: $color-blue-4;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;

	&::before {
		content: "";
		position: absolute;
		top: -1.5rem;
		left: -1rem;
		width: 2rem;
		height: 2rem;
		background: $color-white;
		border-left: 10px solid rgb(22 66 91);
		border-bottom: 5px solid rgb(22 66 91);
		border-bottom-left-radius: 20px;

	}

	&::after {
		content: "";
		position: absolute;
		bottom: -1.5rem;
		left: -1rem;
		width: 2rem;
		height: 2rem;
		background: $color-white;
		border-left: 10px solid rgb(22 66 91);
		border-top: 5px solid rgb(22 66 91);
		border-top-left-radius: 20px;

	}
}