.grid-header {
    display: grid;
    grid-template-columns: 5rem auto 5rem;
    grid-template-rows: 5rem 10vh 5rem;
}

.grid-main {
    display: grid;
    grid-template-columns: 5rem auto 5rem;
    grid-template-rows: 5rem auto auto 5rem;
    max-height: 80vh;
}




